.dashbord {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 20px 40px 40px 40px;
  gap: 20px;
  align-items: stretch;
}

.dashbord > :first-child {
  max-height: 100px;
  height: 80px;
}

.dashbord > :not(:first-child) {
  flex-grow: 1;
}
