<<<<<<< HEAD

=======
>>>>>>> 64832354bd56bd6069b552b04e57aad0d33f65d7
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
   height: 100%;
<<<<<<< HEAD
   max-width: 100%;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
=======
>>>>>>> 64832354bd56bd6069b552b04e57aad0d33f65d7
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
<<<<<<< HEAD
  max-width: 100%;

=======
>>>>>>> 64832354bd56bd6069b552b04e57aad0d33f65d7
}

main {
  flex: 1 1 auto;
<<<<<<< HEAD
  display: flex;
  /* flex-direction: column; */
=======
>>>>>>> 64832354bd56bd6069b552b04e57aad0d33f65d7
}
