
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
   height: 100%;
   max-width: 100%;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: white;
  max-width: 100%;

}

main {
  flex: 1 1 auto;
  display: flex;
  /* flex-direction: column; */
}
